@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Polyflare is a non-custodial wallet for your Polygon accounts. <br />
        You can manage your account and tokens, check your transactions and send new transactions. <br />
        <a href="@Url.Action("Login","Home")" class="button">Login or create your account</a>
    </p> 
</div>
